html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spectral', serif;
    color: antiquewhite;
    background-color: #030202;
    background-image: linear-gradient(326deg, #030202a1 0%, #f14d4d9a);
    cursor: url('spider_cursor.png'), auto; /* Cursor Style */
}

section {
    padding-top: 70px;
    margin-top: -70px;
}

.navbar .nav-link {
    transition: color 0.3s;
    font-size: 20px;
}

.navbar .nav-link:hover {
    color: #fff;
}

.navbar {
    background-color: #8a0000;
}

/* Header Jumbotron */
.jumbotron {
    position: relative;
    overflow: hidden;
}

header .jumbotron-header-first,
header .jumbotron-header-second {
    background-color: #8b000066;
    color: black;
}

/* Portfolio Styles */
.portfolio .card-img-top {
    height: 180px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    transition: transform 0.3s;
}

.portfolio .card-text {
    max-height: 50px; /* Adjust as needed */
    overflow-y: auto;
}


/* Contact Form */
.spooky-border {
    border: 4px solid #8a0000; /* Dark red border */
}


/* Footer Styles */
footer a {
    color: #827e7e;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}

/* Additional styles for better visual spacing */
.right-header img, .left-about img {
    margin: 20px;
}

@keyframes drip {
    0% { top: -30px; }
    100% { top: 100vh; }
}

.drop {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 50px;
    background: linear-gradient(to bottom, #8a0000, #550000);
    border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
    animation: drip 3s cubic-bezier(1,0,.91,.19) infinite;
}
