html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spectral', serif;
    color: antiquewhite;
    background-color: #030202;
    background-image: linear-gradient(326deg, #030202 0%, #8b000066);
}

section {
    padding-top: 70px;
    margin-top: -70px;
}

.navbar .nav-link {
    transition: color 0.3s;
    font-size: 20px;
}

.navbar .nav-link:hover {
    color: #fff;
}

.navbar {
    background-color: #8a0000;
}

/* Header Jumbotron */
.jumbotron {
    position: relative;
    overflow: hidden;
}

header .jumbotron-header-first,
header .jumbotron-header-second {
    background-color: #8b000066;
    color: black;
}

/* Content Styles */
/*.right-header .left-about{
    padding: 40px 0;
    text-align: center;
}

.right-header img .left-about img{
    margin: 20px 0;
}*/


/* Portfolio Styles */
.portfolio .card-img-top {
    height: 180px;
    object-fit: cover;
}

.portfolio .card:hover {
    transform: scale(1.05); /* Slightly enlarges the card */
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.card-text {
    max-height: 50px; /* Adjust as needed */
    overflow-y: auto;
}

/* Contact Form */
.spooky-border {
    border: 3px solid #8a0000; /* Dark red border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
}

.spooky-border:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8); /* More prominent shadow on hover */
}

/* Footer Styles */
footer {
    padding: 20px 0;
}

footer a {
    color: #aaa;
    transition: color 0.3s;
}

footer a:hover {
    color: #fff;
}


/* Adjust Image Positioning */
.right-header {
    text-align: right; /* Adjusts the text and image to the right */
}

.left-about {
    text-align: left; /* Adjusts the text and image to the left */
}

/* Additional styles for better visual spacing */
.right-header img, .left-about img {
    margin: 20px;
}

.right-header, .left-about {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Vertically center align the items */
    gap: 20px; /* Space between image and text */
}

@keyframes drip {
    0% { top: -30px; }
    100% { top: 100vh; }
}

.drop {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 50px;
    background: linear-gradient(to bottom, #8a0000, #550000);
    border-radius: 50% 50% 50% 50%/ 60% 60% 40% 40%;
    animation: drip 3s cubic-bezier(1,0,.91,.19) infinite;
}

/* Cursor Style */
body {
    cursor: url('./spider_cursor.png'), auto;
}
